<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<meta charset="UTF-8">
	<head th:fragment="main">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:href="@{/bootstrap-3.3.2/css/bootstrap.css}" rel="stylesheet">
		<link th:href="@{/css/study.css}" rel="stylesheet">
		<script th:src="@{/js/jquery1.11.2.js}"></script>
		<script th:src="@{/bootstrap-3.3.2/js/bootstrap.js}"></script>
	</head>
	<head th:fragment="simple">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script th:src="@{/js/jquery1.11.2.js}"></script>
	</head>
</html>